.mainDiv
{
    height: 600px;
    width: 600px;

    border:dotted;
    border-width: 3px;
    border-color: #1a1897;
    float: left;
}
#fristPart
{
    height: 100%;
    width: 35%;
    background-color: black;
    float: left;
}
#middelPart
{
    height: 100%;
    width: 30%;
    background-color:cornflowerblue;
    float: left;
}
#lastlPart
{
    height: 100%;
    width: 35%;
    background-color: blanchedalmond;
    float: left;
}
#sp_left_up
{
    width: 100% ;
    height: 35%;
    background-color: #5d7c81;
    float: left;
}
#roadLeft
{
    width: 100%;
    height: 30%;
    background-color: #a5917f;
    float: left;
}
#sp_left_down
{
    width: 100% ;
    height: 35%;
    background-color: #44fd00;
    float: left;
}

#sp_right_up
{
    width: 100% ;
    height: 35%;
    background-color: #ff867b;
    float: left;
}
#roadRight
{
    width: 100%;
    height: 30%;
    background-color: brown;
    float: left;
}
#sp_right_down
{
    width: 100% ;
    height: 35%;
    background-color: rgba(255, 251, 23, 0.78);
    float: left;
}
#roadUp
{
    height: 35%;
    width: 100%;
    background-color: gold;
    float: left;
}
#middelBox
{
    height: 30%;
    width: 100%;
    float: left;
    background-color: #ffffff;
}
#roadDown
{
    height: 35%;
    width: 100%;
    background-color: olive;
    float: left;
}
.tableStyle
{
    height: 100%;
    width: 100%;
    background-color: #7fe0a9;
    border: #3e3e3e;
}
.rdLeftTcell
{
    background-color: #5d7c81;
}
.rdRightTcell
{
    background-color: #FFFB17;
}
.rdUpTcell
{
    background-color: #FF867B
}
.rdDownTcell
{
    background-color: #44FD00;
}
#textEdit
{
    font-family: "Comic Sans MS";
    font-size: larger;
    text-align: center;
    padding-top: 20%;
    color: #4b646a;
}
.imageFit
{
    height: 100%;
    width: 100%;

}
